@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'light';
  default: false;
  prefersdark: true;
  color-scheme: 'light';
  --color-base-100: oklch(97.8% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(70.5% 0.01 265);
  --color-base-content: oklch(22.5% 0 0);
  --color-primary: oklch(47% 0.22 265);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(48% 0.12 260);
  --color-secondary-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  /* эти цвета не используются */
  --color-accent: oklch(100% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@utility text-muted {
  color: oklch(from var(--color-base-content) calc(l + 0.43) c h) !important;
}

@utility border-neutral {
  border-color: oklch(from var(--color-neutral) calc(l + 0.6) c h) !important;
  outline-color: oklch(from var(--color-neutral) calc(l + 0.6) c h) !important;
}

@utility border-primary {
  border-color: oklch(from var(--color-primary) calc(l + 0.6) c h) !important;
  outline-color: oklch(from var(--color-primary) calc(l + 0.6) c h) !important;
}

@layer utilities {
  .no-interaction {
    @apply pointer-events-none cursor-not-allowed select-none;
  }
}

/* отключить выделение элемента по умолчанию */
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 0px 1000px var(--color-base-100);
    -webkit-text-fill-color: var(--color-base-content);
    caret-color: var(--color-base-content);
  }
}
